<% cache product do %>
<div class="card" style="width: 18rem;">
  <%= link_to image_tag(product.image_url, class: "card-img-top"), product %>
  <div class="card-body">
    <h2 class="card-text"><%= product.name %></h2>
    <p>
      <div class="rated" data-score="<%= product.average_rating %>"></div>
    </p>
    <%= number_to_currency(product.price/100.to_f) %>
    <br>
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<% end %>
