<% provide(:title, @product.name) %>
<div class="container" data-product-id="<%= @product.id %>">
  <% cache @product do %>
  <%= image_tag(@product.image_url, width: "525", class: "img-fluid img-zoom", data_zoom_image: @product.image_url) %>
  <div class="prod-desc">
    <h1 class="header">
      <%= @product.name %>
    </h1>

    <p wrap="hard">
      <%= @product.description %>
    </p>

    <p>
      This product has been viewed <strong><%= @page_views %></strong> times.
    </p>

    <p>
      <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
    </p>

    <strong>Price:</strong>
    <h4>
      <%= number_to_currency(@product.price/100.to_f) %>
    </h4>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
    <br>
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
    <% end %>
    <% end %>
    <%= link_to 'Back', products_path %>

  </div>
  <br>
  <br>
  <div class="col-lg-8">
    <%= render 'new_comment' %>
    <hr>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= render 'comments' %>
  </div>
</div>
